.App{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.channels{
    height: 100%;
    background-color: #fff;
    padding-top: 55px;
}

.chat-text{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    background: #F3F7F9;
}
.chat-text textarea{
    width: 90%;
    height: 38px;
    border-color: #F1F4F5;
}
.chat-text-inner{
    align-items: center;
    display: flex;
    padding: 20px
}

.chat-text button{
    width: 9%;
    height: 38px;
    margin-left: 12px;
    background: #3AB7F5;
    border: none;
    color: #fff;
}

.panel-chat{
    height: 63%;
    margin: 56px 0 0 0;
    padding: 1%;
    overflow: scroll;
}

.chat{
    height: 100%;
    background: #F1F4F5
}
.messageItem{
    height: 60px
}