

.messageItemOuter {
    display: inline-block;
    padding: 11px;
    width: 132px;
    border-radius: 4px;
    position: relative;
}
.messageItemOuter.bot:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #2AB8F0;
    position: absolute;
    top: 9px;
    right: -14px;
}

.messageItemOuter.user:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #DFE9EF; 
    position: absolute;
    top: 9px;
    left: -5px;
}


.messageItemOuter.bot{
    float: right;
    background: #3AB7F5;
    color:#fff
   
}
.messageItemOuter.user{
    float: left;
    background: #DFE9EF;
    color:#9AA6B0
   
}


.messageItemOuter .body{
    font-size: 12px;
}
.messageItemOuter .date{
    font-size: 10px;
    opacity: 0.8;
}

.messageItemOuter.bot .body{
    text-align: right;
}
.messageItemOuter.bot .date{
    text-align: right;
}

