.login-container{
    background-color: #3AB7F5;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.login-inner{
    width: 270px;
    height: 150px;
    background-color: #fff;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 16px;
    border-radius: 5px;
}
.login-title{
    text-align: center;
    font-size: 19px;
    color: #6d6d6d
}

.my-facebook-button-class{
    background-color: #3AB7F5;
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-top: 31px;
    border-radius: 5px;
    border:none;
}
.fb-button span{
    margin-right: 10px
}